@font-face {
    font-family: "Nobody-Is-Writing";
    src: url("../fonts/NobodyIsWriting-Regular.otf");
}

@font-face {
    font-family: "NewEdge666";
    src: url("../fonts/NewEdge666-UltraBoldRounded.otf");
}

@font-face {
    font-family: "Blu-me";
    src: url("../fonts/Blu-meVF.ttf");
}